.header {
    width: 100%;
    height: $header-height;
    @include space-between(row);
    padding: 2rem 5rem;
    position: absolute;
    color: $header-text-color;
}

.lerverket__logo {
    font-family: $logo-font;
    font-size: 45px;
    color: $header-text-color;
    text-transform: uppercase;
}

.navbar--desktop {
    display: none;
}

.nav {
    @include space-between(row);
    width: 50%;
}

.nav__item {
    @include button-text;
}

//MEDIA QUERIES
// Small devices (landscape phones, 576px and up)
@media screen and(min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media screen and(min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media screen and(min-width: 992px) {
    .navbar--mobile {
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and(min-width: 1200px) {}