.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.swiper-slide {
    background: black;
    @include flex-center(row);
}

.my-swiper--multiple-images {
    --swiper-navigation-size: 20px;
    --swiper-theme-color: white;
    .swiper-slide img {
        display: block;
        @include swiper-image-size;
        object-fit: cover;
    }
}

.my-swiper--single-image {
    --swiper-navigation-size: 20px;
    --swiper-theme-color: white;
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}