html,
body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: $text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 300;
    @include l-screen {
        font-size: 18px;
    }
}

.App {
    background-color: $header-background-color;
}

.link {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.no-bullet {
    list-style: none;
}

.direction-row {
    @include flex-center(row);
}

.direction-column {
    @include flex-center(column);
}

.heading--big {
    margin: 0;
    font-family: $heading-font;
    color: $heading-color;
    font-weight: 200;
    font-size: 40px;
    @include l-screen {
        font-size: 70px;
    }
}

.heading--medium {
    font-weight: 400;
    font-size: 24px;
    @include l-screen {
        font-size: 30px;
    }
}

.page {
    position: relative;
    top: $header-height;
    background-color: $background-color;
    padding: 1.5rem;
    @include l-screen {
        top: $header-height-l;
        padding: 100px;
    }
    @include xl-screen {
        padding: 150px;
    }
}

.article-page {
    @include l-screen {
        background: linear-gradient(90deg, #FFFFFF 55%, #FAF7F7 45%);
    }
}

.no-scroll {
    overflow: hidden;
}