html,
body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: $text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 300;
}

a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.link {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    font-family: inherit;
}

.no-bullet {
    list-style: none;
}

.direction-row {
    @include flex-center(row);
}

.direction-column {
    @include flex-center(column);
}

.heading--big {
    margin: 0;
    font-family: $heading-font;
    color: $heading-color;
    font-weight: 200;
    font-size: 40px;
    @include l-screen {
        font-size: 70px;
    }
}

.heading--medium {
    padding-top: 2rem;
    font-weight: 400;
    font-size: 24px;
    @include l-screen {
        padding-top: 3rem;
        font-size: 30px;
    }
}

.page {
    @include page-settings;
    padding: 1.5rem;
    @include l-screen {
        padding: 100px 100px;
    }
}

.no-scroll {
    overflow: hidden;
}

.loader {
    background-color: black;
    width: 100vw;
    height: calc(100vh - 85px);
    @include flex-center(row);
    .loader-container {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        .loader-dot {
            display: block;
            width: .5rem;
            height: .5rem;
            background: white;
            border-radius: 50%;
        }
    }
}