@mixin button-text {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin space-between($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex-center($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}