// FONT FAMILIES
$text-font: 'Nunito',
sans-serif;
$heading-font: 'ivymode',
sans-serif;
$logo-font: 'Federo',
sans-serif;
//COLORS
$background-color: white;
$secondary-background-color: #FAF9F7;
$heading-color: #1F2432;
$text-color: #1F2432;
$header-text-color: white;
$header-background-color: rgb(15, 15, 15);
$header-height: 85px;
$header-height-l: 100px;