// FONT FAMILIES
$text-font: 'Nunito',
sans-serif;
$heading-font: 'ivymode',
sans-serif;
$logo-font: 'Federo',
sans-serif;
//COLORS
$heading-color: black;
$header-text-color: white;
$header-background-color: rgb(15, 15, 15);
$header-height: 300px;