// FONT FAMILIES
$text-font: 'Nunito',
sans-serif;
$heading-font: 'ivymode',
sans-serif;
$logo-font: 'Federo',
sans-serif;
//COLORS
$background-color: white;
$secondary-background-color: #f0ebe6;
$heading-color: #1c1914;
$text-color: #1c1914;
$header-text-color: white;
$header-background-color: black;
$header-height: 85px;
$header-height-l: 100px;