.artwork-details-page {
    background-color: white;
    position: relative;
}

.details__wrapper {
    @include flex-center(column);
    padding: 1.5rem 0;
    @include l-screen {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 3.5rem;
    }
    @include xxl-screen {
        padding: 50px 132px;
    }
}

.details__back__button {
    z-index: 10;
    background: none;
    display: block;
    align-self: flex-start;
    padding-left: 1.5rem;
    @include l-screen {
        padding-left: 0;
        padding-right: 3.5rem;
    }
    .details__back__icon {
        margin-right: 1rem;
        position: relative;
        top: 3px;
    }
}

.details__image {
    margin-top: 3rem;
    width: 100%;
    @include xs-screen {
        @include swiper-image-size;
    }
}

.details__text {
    width: 60%;
    margin: 3rem auto;
    @include m-screen {
        @include swiper-image-size;
    }
    @include l-screen {
        width: 25%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
}

.details__contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    @include xl-screen {
        padding: 0;
        margin-top: 5rem;
    }
}

.details__socials {
    font-size: 20px;
    margin-right: 2rem;
}

.details__contact__button {
    @include button-text;
}