.contact-page {
    height: 100vh;
}

.contact__socials {
    margin: 2rem 0;
    @include l-screen {
        margin: 5rem 0;
    }
}

.contact-image {
    width: 100%;
    object-fit: cover;
    @include m-screen {
        width: 40%;
    }
}