.landing-page {
    width: 100vw;
    height: 100vh;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center(column);
}

.landing__headline {
    font-family: $heading-font;
    font-size: 40px;
    font-weight: 400;
    width: 70%;
    line-height: 1.5;
    text-align: center;
}

.action-button__wrapper {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.action-button {
    @include button-text;
    border: 1px solid white;
    width: 220px;
    height: 70px;
    display: flex;
    align-items: center;
}

.action-button__arrow {
    font-size: 20px;
    margin: 0 2rem;
}

.socials--desktop {
    display: none;
}

//MEDIA QUERIES
// Small devices (landscape phones, 576px and up)
@media screen and(min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media screen and(min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media screen and(min-width: 992px) {
    .landing__headline {
        font-size: 80px;
        width: 550px;
    }
    .socials--desktop {
        display: block;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and(min-width: 1200px) {}