.landing-page {
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url(../../assets/landing-small.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include l-screen {
        background-image: url(../../assets/landing-big.jpg);
        background-position: top left;
    }
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100vw;
    height: 100vh;
}

.center-content__wrapper {
    padding-top: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include l-screen {
        padding-top: 15%;
        height: 70%;
    }
}

.landing__headline {
    font-family: $heading-font;
    font-size: 40px;
    font-weight: 400;
    width: 70%;
    line-height: 1.5;
    text-align: center;
    @include l-screen {
        font-size: 80px;
        width: 550px;
    }
}

.action-button__wrapper {
    @include l-screen {
        @include flex-center(row);
    }
}

.action-button {
    @include action-button-style;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 3rem;
    &:hover {
        color: black;
        background-color: rgba(206, 190, 162, 0.6);
    }
    @include l-screen {
        margin: 1rem 2rem;
    }
}

.socials--desktop {
    display: none;
}